.contacto{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formulario{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn{
    margin-top: 10px;
}


@media(max-width:980px){
    .formulario{
        display: grid;
        grid-template-rows:auto auto ;
    }

    .footer{
        position: relative;
    }
}