.servicios{
margin-top: 50px;
margin-bottom: 50px;
display: flex;
flex-direction: column;
align-items: center;
}


.servicio{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    gap: 20px;
    justify-content: space-around;
}



.servicioCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
}

.servicioCard img {
    height: 200px;
}