.header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  color: aliceblue;
  margin: 0px;
  height: 115px;
  background-color: rgb(4, 47, 64);
}
@media screen and (max-width: 725px) {
  .header {
    grid-template-columns: auto auto;
  }
}
.header .logoPrincipal img {
  width: 100px;
  margin: 10px;
}
.header .tituloLogo {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px 30px;
  align-items: center;
  align-content: center;
  justify-items: center;
  font-family: monospace;
}
.header .tituloLogo h2 {
  font-weight: bolder;
}
@media screen and (max-width: 725px) {
  .header .tituloLogo {
    display: none;
  }
}
.header .redesSociales {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: end;
  margin-left: 25px;
  gap: 55px;
  margin-right: 50px;
}
@media screen and (max-width: 650px) {
  .header .redesSociales {
    gap: 20px;
  }
}
.header .redesSociales .logo i {
  font-size: 35px;
  color: whitesmoke;
}
.header .redesSociales .logo i:hover {
  color: rgb(118, 242, 61);
}
@media screen and (max-width: 400px) {
  .header .redesSociales .logo i {
    font-size: 25px;
  }
}

nav {
  background-color: rgb(4, 47, 64);
}
nav .navbar {
  background-color: rgb(4, 47, 64);
}
nav .navbar-collapse {
  justify-content: space-around;
}
nav .navbar-nav {
  padding: 0px;
}
nav .navbar-nav:hover {
  background-color: rgb(118, 242, 61);
}
nav .navbar-nav:hover .nav-item a {
  color: black !important;
}
nav .navbar-nav .nav-item a {
  color: whitesmoke !important;
  font-family: monospace;
  font-size: 20px;
}
nav .navbar-toggler {
  background-color: rgb(118, 242, 61);
}

* {
  margin: 0;
}

body {
  position: relative;
  padding-bottom: 150px;
  min-height: 100vh;
}
@media screen and (max-width: 991px) {
  body {
    padding: 0px;
  }
}

.carouselImg {
  height: 500px;
  object-fit: cover;
  background-color: black;
}
@media screen and (max-width: 991px) {
  .carouselImg {
    height: 400px;
  }
}
@media screen and (max-width: 580px) {
  .carouselImg {
    height: 300px;
  }
}

.productosDestacados .tituloDestacado {
  margin: 50px 30px 50px 30px;
  grid-area: titulo;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.productosDestacados .tituloDestacado h1 {
  display: grid;
  justify-content: center;
}
.productosDestacados .productosDestacadosCards {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.productosDestacados .productosDestacadosCards .card-body {
  display: grid;
  align-items: end;
}
.productosDestacados .productosDestacadosCards a {
  border: none;
  background-color: rgb(4, 47, 64);
}
.productosDestacados .productosDestacadosCards a:hover {
  background-color: rgba(118, 242, 61, 0.8);
  color: black;
}
@media screen and (max-width: 991px) {
  .productosDestacados .productosDestacadosCards {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 15px;
  }
}

.energiaSolar .tituloDescripcion {
  margin: 50px 30px 50px 30px;
  grid-area: titulo;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgb(4, 47, 64);
}
.energiaSolar .tituloDescripcion h1 {
  display: grid;
  justify-content: center;
  color: whitesmoke;
}
.energiaSolar .descripcionEnergiaSolar {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  align-items: center;
}
.energiaSolar .descripcionEnergiaSolar .imagenDescripcion {
  display: grid;
  justify-items: center;
}
.energiaSolar .descripcionEnergiaSolar .imagenDescripcion img {
  width: 100%;
  border-radius: 10px;
}
.energiaSolar .descripcionEnergiaSolar .textoDescripcion {
  text-align: justify;
}
.energiaSolar .descripcionEnergiaSolar .textoDescripcion .tituloDescripcionDos {
  display: grid;
  justify-items: center;
}
@media screen and (max-width: 991px) {
  .energiaSolar .descripcionEnergiaSolar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 15px;
  }
}

.nuestrasMarcas {
  height: 380px;
}
.nuestrasMarcas .tituloNuestrasMarcas {
  margin: 50px 30px 50px 30px;
  grid-area: titulo;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.nuestrasMarcas .tituloNuestrasMarcas h1 {
  display: grid;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .nuestrasMarcas {
    height: 450px;
  }
}
@media screen and (max-width: 991px) {
  .nuestrasMarcas {
    height: 700px;
  }
}
.nuestrasMarcas .galeriaMarcas {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  align-items: center;
  height: 250px;
}
@media screen and (max-width: 1280px) {
  .nuestrasMarcas .galeriaMarcas {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    gap: 20px;
    height: 300px;
  }
}
@media screen and (max-width: 991px) {
  .nuestrasMarcas .galeriaMarcas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    gap: 30px;
    height: 600px;
  }
}
.nuestrasMarcas .separador {
  display: grid;
  border: 1px solid black;
  width: 90% !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenidoSobreNosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin: 50px 30px 50px 30px;
}
.contenidoSobreNosotros .tituloSobreNosotros {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.contenidoSobreNosotros .tituloSobreNosotros h1 {
  display: grid;
  justify-content: center;
}
.contenidoSobreNosotros .sobreNosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 50px 30px 50px 30px;
  gap: 10px;
  align-items: center;
  justify-items: center;
  grid-template-areas: "descripcion img" "titulo img" "lista img";
}
@media screen and (max-width: 991px) {
  .contenidoSobreNosotros .sobreNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "descripcion" "titulo" "lista" "img";
  }
}
.contenidoSobreNosotros .sobreNosotros .textoSobreNosotros {
  grid-area: descripcion;
  text-align: justify;
}
.contenidoSobreNosotros .sobreNosotros .tituloValores {
  grid-area: titulo;
  display: grid;
  justify-items: center;
}
.contenidoSobreNosotros .sobreNosotros .listaValores {
  grid-area: lista;
}
.contenidoSobreNosotros .sobreNosotros .imagenSobreNosotros {
  grid-area: img;
  display: grid;
  justify-items: center;
}
.contenidoSobreNosotros .sobreNosotros .imagenSobreNosotros img {
  width: 70%;
}

.misionVision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 30px 50px 30px;
  align-items: start;
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .misionVision {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
.misionVision .mision {
  display: grid;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(4, 47, 64, 0.8);
}
.misionVision .mision .tituloMision {
  box-shadow: 5px 5px 10px 5px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: rgb(118, 242, 61);
  display: grid;
  justify-content: start;
}
.misionVision .mision .tituloMision h1 {
  margin-left: 10px;
}
.misionVision .mision .parrafoMision {
  margin-top: 15px;
  text-align: justify;
  color: whitesmoke;
}
.misionVision .vision {
  display: grid;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.misionVision .vision .tituloVision {
  box-shadow: 5px 5px 10px 5px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: rgb(4, 47, 64);
  display: grid;
  justify-content: start;
}
.misionVision .vision .tituloVision h1 {
  margin-left: 10px;
  color: whitesmoke;
}
.misionVision .vision .parrafoVision {
  margin-top: 15px;
  text-align: justify;
}

.separador {
  display: grid;
  border: 1px solid black;
  width: 90% !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nuestrosTrabajos {
  margin: 50px 30px 50px 30px;
}
.nuestrosTrabajos .tituloNuestrosTrabajos {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(4, 47, 64, 0.8);
}
.nuestrosTrabajos .tituloNuestrosTrabajos h1 {
  display: grid;
  justify-content: center;
  color: whitesmoke;
}
.nuestrosTrabajos .trabajo1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "desc img";
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .nuestrosTrabajos .trabajo1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "desc" "img";
    gap: 50px;
  }
}
.nuestrosTrabajos .trabajo1 .trabajo {
  grid-area: desc;
  display: grid;
  gap: 15px;
  grid-template-rows: auto auto;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.nuestrosTrabajos .trabajo1 .trabajo .tituloTrabajo {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: rgb(4, 47, 64);
}
.nuestrosTrabajos .trabajo1 .trabajo .tituloTrabajo h2 {
  color: whitesmoke;
}
.nuestrosTrabajos .trabajo1 .trabajo .descripcionTrabajo {
  text-align: justify;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.nuestrosTrabajos .trabajo1 .trabajoImg {
  grid-area: img;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.nuestrosTrabajos .trabajo1 .trabajoImg img {
  width: 100%;
}
.nuestrosTrabajos .trabajo1 .trabajoImg a {
  width: 50%;
  border: none;
  background-color: rgb(4, 47, 64);
}
.nuestrosTrabajos .trabajo1 .trabajoImg a:hover {
  background-color: rgba(118, 242, 61, 0.8);
  color: black;
}
.nuestrosTrabajos .trabajo1 .trabajoImg img {
  width: 80%;
}
.nuestrosTrabajos .trabajo2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "img desc";
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .nuestrosTrabajos .trabajo2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "desc" "img";
    gap: 50px;
  }
}
.nuestrosTrabajos .trabajo2 .trabajo {
  grid-area: desc;
  display: grid;
  gap: 15px;
  grid-template-rows: auto auto;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(4, 47, 64, 0.8);
}
.nuestrosTrabajos .trabajo2 .trabajo .tituloTrabajo {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.nuestrosTrabajos .trabajo2 .trabajo .descripcionTrabajo {
  text-align: justify;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: whitesmoke;
}
.nuestrosTrabajos .trabajo2 .trabajoImg {
  grid-area: img;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.nuestrosTrabajos .trabajo2 .trabajoImg img {
  width: 100%;
}
.nuestrosTrabajos .trabajo2 .trabajoImg a {
  width: 50%;
  border: none;
  background-color: rgb(4, 47, 64);
}
.nuestrosTrabajos .trabajo2 .trabajoImg a:hover {
  background-color: rgba(118, 242, 61, 0.8);
  color: black;
}
.nuestrosTrabajos .trabajo2 .trabajoImg img {
  width: 80%;
}
.nuestrosTrabajos .trabajo3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "desc img";
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .nuestrosTrabajos .trabajo3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "desc" "img";
    gap: 50px;
  }
}
.nuestrosTrabajos .trabajo3 .trabajo {
  grid-area: desc;
  display: grid;
  gap: 15px;
  grid-template-rows: auto auto;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.nuestrosTrabajos .trabajo3 .trabajo .tituloTrabajo {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: rgb(4, 47, 64);
}
.nuestrosTrabajos .trabajo3 .trabajo .tituloTrabajo h2 {
  color: whitesmoke;
}
.nuestrosTrabajos .trabajo3 .trabajo .descripcionTrabajo {
  text-align: justify;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.nuestrosTrabajos .trabajo3 .trabajoImg {
  grid-area: img;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.nuestrosTrabajos .trabajo3 .trabajoImg img {
  width: 100%;
}
.nuestrosTrabajos .trabajo3 .trabajoImg a {
  width: 50%;
  border: none;
  background-color: rgb(4, 47, 64);
}
.nuestrosTrabajos .trabajo3 .trabajoImg a:hover {
  background-color: rgba(118, 242, 61, 0.8);
  color: black;
}
.nuestrosTrabajos .trabajo3 .trabajoImg img {
  width: 80%;
}
.nuestrosTrabajos .trabajo4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "img desc";
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .nuestrosTrabajos .trabajo4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "desc" "img";
    gap: 50px;
  }
}
.nuestrosTrabajos .trabajo4 .trabajo {
  grid-area: desc;
  display: grid;
  gap: 15px;
  grid-template-rows: auto auto;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(4, 47, 64, 0.8);
}
.nuestrosTrabajos .trabajo4 .trabajo .tituloTrabajo {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.nuestrosTrabajos .trabajo4 .trabajo .descripcionTrabajo {
  text-align: justify;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: whitesmoke;
}
.nuestrosTrabajos .trabajo4 .trabajoImg {
  grid-area: img;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.nuestrosTrabajos .trabajo4 .trabajoImg img {
  width: 100%;
}
.nuestrosTrabajos .trabajo4 .trabajoImg a {
  width: 50%;
  border: none;
  background-color: rgb(4, 47, 64);
}
.nuestrosTrabajos .trabajo4 .trabajoImg a:hover {
  background-color: rgba(118, 242, 61, 0.8);
  color: black;
}
.nuestrosTrabajos .trabajo4 .trabajoImg img {
  width: 53%;
}

.separador {
  display: grid;
  border: 1px solid black;
  width: 90% !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.productos .tituloProductos {
  margin: 50px 30px 50px 30px;
  grid-area: titulo;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(118, 242, 61, 0.8);
}
.productos .tituloProductos h1 {
  display: grid;
  justify-content: center;
}
.productos .productosCards {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 50px;
}
.productos .productosCards .card-body {
  display: grid;
  align-items: end;
}
@media screen and (max-width: 991px) {
  .productos .productosCards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 650px) {
  .productos .productosCards {
    grid-template-columns: 1fr;
  }
}
.productos .productosCards a {
  border: none;
  background-color: rgb(4, 47, 64);
}
.productos .productosCards a:hover {
  background-color: rgba(118, 242, 61, 0.8);
  color: black;
}

.separador {
  display: grid;
  border: 1px solid black;
  width: 90% !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacto {
  margin: 50px 30px 50px 30px;
}
.contacto .tituloContacto {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px;
  border-radius: 35px;
  border: 1.5px solid black;
  background-color: rgba(4, 47, 64, 0.8);
}
.contacto .tituloContacto h1 {
  display: grid;
  justify-content: center;
  color: whitesmoke;
}
.contacto .formulario {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
@media screen and (max-width: 991px) {
  .contacto .formulario {
    grid-template-columns: 1fr;
  }
}
.contacto .formulario .form {
  width: 100%;
  margin: 50px 30px 50px 30px;
}
.contacto .formulario .form button {
  border: none;
  margin-top: 20px;
  width: 100%;
  background-color: rgb(4, 47, 64);
}
.contacto .formulario .form button:hover {
  background-color: rgba(118, 242, 61, 0.8);
  color: black;
}
.contacto .formulario .imagenContacto {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.contacto .formulario .imagenContacto img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px;
}

@media (max-width: 980px) {
  .formulario {
    display: grid;
    grid-template-rows: auto auto;
  }
  .footer {
    position: relative;
  }
}
.footer {
  background-color: rgb(4, 47, 64);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  color: whitesmoke;
}
.footer .footerLinks {
  display: grid;
  justify-items: center;
}
.footer .footerLinks ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .footerLinks ul li a {
  text-decoration: none;
  color: whitesmoke;
}
.footer .footerLinks ul li a:hover {
  color: rgb(118, 242, 61);
}
.footer .footerProductos {
  display: grid;
  justify-items: center;
}
.footer .footerProductos ul {
  padding: 0px;
}
.footer .footerProductos ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .footerProductos ul li a {
  text-decoration: none;
  color: whitesmoke;
}
.footer .footerProductos ul li a:hover {
  color: rgb(118, 242, 61);
}
.footer .footerServicios {
  display: grid;
  justify-items: center;
}
.footer .footerServicios ul {
  padding: 0px;
}
.footer .footerServicios ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .footerServicios ul li a {
  text-decoration: none;
  color: whitesmoke;
}
.footer .footerServicios ul li a:hover {
  color: rgb(118, 242, 61);
}
@media screen and (max-width: 991px) {
  .footer {
    position: relative;
  }
}
@media screen and (max-width: 580px) {
  .footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
    position: relative;
  }
}

/*# sourceMappingURL=styles.css.map */
