$breakpoints:(
    s: 520px,
    m: 980px,
    l: 1280px,
);

@mixin responsive($breakpoint){

    @media screen and (max-width: map-get($breakpoints, $breakpoint )){
        @content;
    }
}

* {
    margin: 0;
    list-style: none;
}

body{
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;

    @include responsive(m){
        padding: 0px;
    }

}

.header{
    background-color: rgb(42, 44, 161);
    color: aliceblue;
    margin: 0px;
    height: 50px;
}

.logoPrincipal{
    margin: 0px;
}

.navbar-collapse {
        justify-content: space-around;
}

.navbar-nav{
    &:hover{
        background-color: rgba(55, 0, 255, 0.37);
        border-radius: 10px;
    }   
}


.imagenPrincipal{
    img{
        width: 100%;
    }  
}


.productosDestacados{
    padding: 10px;

    .productosDestacadosCards{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include responsive(m){
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 15px;
    }
    }  
}

.energiaSolar{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include responsive(m){
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-items: center;
        gap: 15px;
    }
}

.galeriaMarcas{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;

    @include responsive(l){
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }

    @include responsive(m){
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
    }
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(27, 27, 27, 0.575);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include responsive(m){
        position: relative;
    }

    @include responsive(s){
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 15px;
        position: relative;
    }
}

