@import "../elements/responsive";
@import "../elements/gridCenter";
@import "../elements/separador";
@import "../elements/colors";
@import "../elements/cajaTexto";

.nuestrosTrabajos{
margin: 50px 30px 50px 30px;
    .tituloNuestrosTrabajos{
        @include centerGrid;
        @include cuadroColor;
        @include colorOpacidad(azulMarino, baja);
        h1{
            
             display: grid;
            justify-content: center;  
            
            color: whitesmoke
        }
    }
    .trabajo1{
        @include OrientacionDer;

        .trabajoImg{
            img{
                width: 80%;
            }
        }


    }
    
    .trabajo2{
        @include OrientacionIzq;

        .trabajoImg{
            img{
                width: 80%;
            }
        }


    }

    .trabajo3{
        @include OrientacionDer;

        .trabajoImg{
            img{
                width: 80%;
            }
        }

    }

    .trabajo4{
        @include OrientacionIzq;

        .trabajoImg{
            img{
                width: 53%;
            }
        }

    }


    
}

.separador{
    @include separador;
}