@import "../elements/responsive";
@import "../elements/colors";
@import "../elements/cajaTexto";
@import "../elements/gridCenter";
@import "../elements/separador";

.contenidoSobreNosotros{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr ; 
    margin: 50px 30px 50px 30px;

    .tituloSobreNosotros{
        @include centerGrid;
        @include cuadroColor;
        @include colorOpacidad(verde4, baja);

        h1{
            display: grid;
            justify-content: center;          
        }
    }

    .sobreNosotros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        margin: 50px 30px 50px 30px;
        gap: 10px;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "descripcion img"
        "titulo img"
        "lista img";

        @include responsive(m){           
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 
            "descripcion"
            "titulo"
            "lista"
            "img";
        }

        .textoSobreNosotros{
            grid-area: descripcion;
            text-align: justify;
        }

        .tituloValores{
            grid-area: titulo;
            display: grid;    
            justify-items: center;
        }

        .listaValores{
            grid-area: lista;
        }

        .imagenSobreNosotros{
            grid-area: img;
            display: grid;    
            justify-items: center;

            img{
                width: 70%;
            }
        }
    }
    

    

    
}




.misionVision{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 50px 30px 50px 30px;
   align-items: start;
   gap: 30px;

   @include responsive(m){
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    }

    .mision{
        display: grid;
        @include cuadroColor;
        @include colorOpacidad(azulMarino, baja);
        
        
        .tituloMision{
            @include cuadro;
            @include colorOpacidad(verde4, nula);
            display: grid;
            justify-content: start;

            h1{
                margin-left: 10px;
            }  
        }

        .parrafoMision{
            margin-top: 15px;
            text-align: justify;
            color: whitesmoke;
        }
    }

    .vision{
        display: grid;
        @include cuadroColor;
        @include colorOpacidad(verde4, baja);

        .tituloVision{
            @include cuadro;
            @include colorOpacidad(azulMarino, nula);
            display: grid;
            justify-content: start;

            h1{
                margin-left: 10px;
                color: whitesmoke;
            }    
        }

        .parrafoVision{
            margin-top: 15px;
            text-align: justify;
        }
    }

    

}

.separador{
    @include separador;
}