@import "../elements/responsive";
@import "../elements/colors";
@import "../elements/cajaTexto";
@import "../elements/gridCenter";
@import "../elements/separador";

.contenidoSobreNosotros{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr ; 
    margin: 50px 30px 50px 30px;

    .tituloSobreNosotros{
        @include centerGrid;
        @include cuadroColor;
        @include colorOpacidad(verde4, baja);

        h1{
            display: grid;
            justify-content: center;          
        }
    }

    .sobreNosotros{
        margin: 50px 30px 50px 30px;
        @include cuadroColor;
        @include colorOpacidad(azulMarino, baja);

        .textoSobreNosotros{
            @include cuadroColor;
            @include colorOpacidad(verde4, baja);
            text-align: justify;
            display: grid;
            align-items: center;
            justify-items: center;
            margin: 50px 30px 50px 30px;
            
        }
    
        .tituloValores{
            display: grid;
            justify-content: center;
            align-items: center;
            @include cuadroColor;
            @include colorOpacidad(verde4, baja);
        }
        .listaValores{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
            @include cuadroColor;
            
            @include responsive(m){
                grid-template-columns: 1fr;
                gap: 25px;
            }

            margin: 50px 30px 50px 30px;
            ul{
                display: grid;
                list-style: circle;
                @include cuadroColor;
                @include colorOpacidad(verde4, nula);
                

                li{
                    margin-left: 25px;
                    font-weight: 500;
                }
            }
        }
    
        .imagenSobreNosotros{
            display: grid;
            justify-content: center;
            align-items: center;
    
            img {
                height: 350px;
                border-radius: 15px;
            
                @include responsive(l){
                    height: 300px;
                }
    
                @include responsive(s){
                    height: 200px;
                }
    
                @include responsive(xs){
                    height: 150px;
                }
            }
        }

    }

    
}




.misionVision{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 50px 30px 50px 30px;
   align-items: start;
   gap: 30px;

   @include responsive(m){
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    }

    .mision{
        display: grid;
        @include cuadroColor;
        @include colorOpacidad(azulMarino, baja);
        
        
        .tituloMision{
            @include cuadro;
            @include colorOpacidad(verde4, nula);
            display: grid;
            justify-content: start;
            width: 30%;

            h1{
                margin-left: 10px;
            }  
        }

        .parrafoMision{
            margin-top: 15px;
            text-align: justify;
            color: whitesmoke;
        }
    }

    .vision{
        display: grid;
        @include cuadroColor;
        @include colorOpacidad(verde4, baja);

        .tituloVision{
            @include cuadro;
            @include colorOpacidad(azulMarino, nula);
            display: grid;
            justify-content: start;
            width: 27%;

            h1{
                margin-left: 10px;
                color: whitesmoke;
            }    
        }

        .parrafoVision{
            margin-top: 15px;
            text-align: justify;
        }
    }

    

}

.separador{
    @include separador;
}